@import url('https://fonts.cdnfonts.com/css/robotech-gp');

/*font-family: 'ROBOTECH GP', sans-serif;*/

.container {
    width: 100%;
    min-height: 85vh;
    position: relative;
    margin-top: 10px;
}

.backgroundSection {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.7;
}

.backgroundSection video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
}

.divTitle {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeInOut 1s ease forwards;
}

.divTitleLogo {
    margin-top: 80px;
}

.titleLogo {
    width: 1200px;
}

.divSubtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.logo {
    width: 350px;
}

.subtitle {
    width: 400px;
    height: 20px;
}

.divTitle .subtitle {
    font-family: 'ROBOTECH GP', sans-serif;
    margin-top: 2px;
    font-size: 50px;
    color: aliceblue;
    -webkit-text-stroke: 2px #000;
}

.divButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 1s ease forwards;
}

.divButton .button {
    width: 320px;
    height: 60px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    border: solid 2px rgb(80, 77, 32);
    background-color: rgb(146, 140, 52);
    font-family: 'ROBOTECH GP', sans-serif;
    font-size: 30PX;
    color: #DAA520;
    -webkit-text-stroke: 1px #000;
    cursor: url('../../../src/assets/CursorPointer.png'), pointer;
}

.divButton .button:hover {
    transition: 0.6s;
    background-image: url('../../../../assets/img/iconWallpaperGif.gif');
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        /* Começa completamente invisível */
    }
    50% {
        opacity: 0;
        /* Mantém invisível até a metade da animação */
    }
    100% {
        opacity: 1;
        /* Torna-se completamente visível no final */
    }
}

@media only screen and (max-width: 800px) {
    .backgroundSection {
        width: 104.8%;
        height: 100%;
        position: absolute;
        z-index: 0;
        opacity: 0.7;
    }
    .divTitle {
        margin-left: 18px;
    }
    .divButton .button {
        width: 300px;
        height: 60px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1366px) {
    .titleLogo {
        width: 300px;
    }
    .subtitle {
        width: 200px;
    }
    .divTitleLogo {
        margin-top: 20px;
    }
    .logo {
        width: 90px;
    }
}