@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/*font-family: 'Lora', serif;*/

@font-face {
    font-family: "Meedori Sans";
    src: url("https://db.onlinewebfonts.com/t/3bc3edde69903e0e83444ecc60cc8913.eot");
    src: url("https://db.onlinewebfonts.com/t/3bc3edde69903e0e83444ecc60cc8913.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3bc3edde69903e0e83444ecc60cc8913.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/3bc3edde69903e0e83444ecc60cc8913.woff")format("woff"), url("https://db.onlinewebfonts.com/t/3bc3edde69903e0e83444ecc60cc8913.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/3bc3edde69903e0e83444ecc60cc8913.svg#Meedori Sans")format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 85vh;
    position: relative;
    margin-top: 8px;
}

.SectionBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.7;
}

.SectionBackground .wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.sectionContent {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.432), transparent);
    overflow-y: auto;
}

.divSectionTitle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 1s;
    /* duração da animação */
    animation-timing-function: ease;
    /* função de temporização (opcional) */
    animation-delay: 0s;
    /* atraso antes da animação começar (opcional) */
    animation-iteration-count: 1;
    /* número de vezes que a animação deve ser repetida (opcional) */
    animation-direction: initial;
    /* direção da animação (opcional) */
    animation-fill-mode: forwards;
    /* comportamento do elemento após a animação (opcional) */
    animation-play-state: running;
}

.divSectionTitle .title {
    color: rgb(241, 241, 51);
    font-family: "Meedori Sans";
    font-weight: bolder;
    font-size: 60px;
    padding: 10px;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.863);
}

.divSectionTitle .subtitle,
.divSectionTitle .paragrafo {
    font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: 20px;
    color: aliceblue;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.sectionComponents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.components {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    margin-right: -200px;
}

.divText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleDescription {
    font-family: 'Lora', serif;
    font-weight: bolder;
    font-size: 26px;
    color: aliceblue;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.726);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.components .logoText {
    width: 450px;
}

.iconsLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
    overflow-x: auto;
    margin-top: 40px;
}

.divIcons {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: url('../../../../assets/img/borderForIcons.gif');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: solid 3px rgba(211, 211, 46, 0.815);
    cursor: url('../../../src/assets/CursorPointer.png'), pointer;
    box-sizing: border-box;
    animation: slideIn 2s ease forwards;
}

.iconImg {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    object-fit: cover;
    padding: 4px;
    border: solid 1px yellow;
    transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease, background-size 0.3s ease;
}

.iconImg:hover {
    width: 125px;
    height: 125px;
    border: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 1366px) {
    .divSectionTitle .title {
        font-size: 25px;
    }
    .divSectionTitle .subtitle,
    .divSectionTitle .paragrafo {
        font-size: 15px;
    }
    .sectionComponents {
        margin-top: -30px;
    }
    .divIcons {
        width: 80px;
        height: 80px;
        margin-bottom: 0px;
        margin-top: 5px;
    }
    .iconImg {
        width: 70px;
        height: 70px;
    }
    .iconImg:hover {
        width: 83px;
        height: 83px;
        border: none;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 105%;
        height: 100%;
        position: relative;
        margin-top: 15px;
    }
    .divSectionTitle .title {
        font-size: 18px;
        margin-top: 10vh !important;
    }
    .divSectionTitle .subtitle,
    .divSectionTitle .paragrafo {
        font-size: 8px;
    }
    .sectionComponents {
        margin-top: -30px;
    }
    .components {
        margin-left: -50px;
    }
    .divIcons {
        width: 75px;
        height: 75px;
        margin-bottom: 0px;
        margin-top: 5px;
    }
    .iconImg {
        width: 60px;
        height: 60px;
    }
    .iconImg:hover {
        width: 75px;
        height: 75px;
        border: none;
    }
}