@import url('https://fonts.cdnfonts.com/css/robotech-gp');
@import url('https://fonts.cdnfonts.com/css/robotech');
@import url('https://fonts.cdnfonts.com/css/robotech-complete');
@import url('https://fonts.cdnfonts.com/css/gotham-knights');
@import url('https://fonts.cdnfonts.com/css/wow-plexus');

/*
    font-family: 'ROBOTECH GP', sans-serif;
    font-family: 'Gotham Knights Expand Italic', sans-serif;
    font-family: 'Gotham Knights Italic', sans-serif;
    font-family: 'robotech', sans-serif;
    font-family: 'Robotech Complete', sans-serif;
*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.705);
    color: aliceblue;
    font-family: 'ROBOTECH GP', sans-serif;
    position: 'absolute';
    border-bottom: solid 3px rgba(0, 0, 0, 0.705);
    border-top: solid 3px rgba(0, 0, 0, 0.705);
    height: 65px;
}

.container .divTitle .linkHome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-decoration: none;
    color: aliceblue;
    -webkit-text-stroke: 0.8px #000;
    cursor: url('../../../src/assets/CursorPointer.png'), pointer;
}

.container .divTitle .logo {
    width: 40px;
    margin-right: 5px;
}

.container .divTitle .link .title {
    font-size: 40px;
    color: aliceblue;
}

.divButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divButtons .buttons {
    border: none;
    color: aliceblue;
    font-size: 20px;
    padding: 3px;
}

.divButtons .buttons button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: aliceblue;
    font-family: 'Robotech Complete', sans-serif;
    font-size: 16px;
    cursor: url('../../../src/assets/CursorPointer.png'), pointer;
}

.divButtons .buttons button:hover {
    font-size: 18px;
    color: #DAA520;
}

@media(max-width: 630px) {
    .divButtons .buttons button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: aliceblue;
        cursor: pointer;
        font-family: 'Gotham Knights Expand Italic', sans-serif;
        font-size: 15px;
    }
    .divButtons .buttons button:hover {
        font-size: 15px;
        color: #DAA520;
    }
}

@media(max-width: 500px) {
    .divButtons .buttons button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: aliceblue;
        cursor: pointer;
        font-family: 'Gotham Knights Expand Italic', sans-serif;
        font-size: 13px;
    }
    .divButtons .buttons button:hover {
        font-size: 13px;
        color: #DAA520;
    }
}

@media(max-width: 400px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.705);
        color: aliceblue;
        font-family: 'ROBOTECH GP', sans-serif;
        position: 'absolute';
        border-bottom: solid 3px rgba(0, 0, 0, 0.705);
        border-top: solid 3px rgba(0, 0, 0, 0.705);
        height: 32px;
    }
    .container .divTitle .logo {
        width: 15px;
        margin-right: 5px;
    }
    .divButtons .buttons {
        border: none;
        color: aliceblue;
        cursor: pointer;
        font-size: 20px;
        padding: 3px;
    }
    .divButtons .buttons button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: aliceblue;
        cursor: pointer;
        font-family: 'Gotham Knights Expand Italic', sans-serif;
        font-size: 13px;
    }
    .divButtons .buttons button:hover {
        font-size: 14px;
        color: #DAA520;
    }
}